beautifulsoup4
crawl4ai
camelot-py
chromadb
dash
dash-core-components
dash-html-components
dotenv
datasets
flask-bootstrap
flask-moment
flask-wtf
FreeSimpleGUI
fitz
fastapi
groq
google
google-genai
faiss-cpu
ipython
ipywidgets
jupyterlab
matplotlib
mwclient
mwparserfromhell
openai
openpyxl
python-docx
Pygments
pyodbc
pandas
pillow
python-dotenv
pinecone
pathlib
plotly
playwright
protobuf
pypdf
PyPDF2
pdfminer
pdf2image
PyMuPDF
llama-index
llama-index-core
llama-index-postprocessor-flag-embedding-reranker
llama_index-embeddings-openai
llama-index-embeddings-google-genai
llama-index-embeddings-huggingface
llama-index-embeddings-ollama
llama-parse
langchain
langchain-community
langchain-openai
langchain-core
langgraph
requests
soundfile
sounddevice
sqlite-vec
sentence-transformers
streamlit
typing_extensions
textblob
transformers
tiktoken
tqdm
pydantic
nest-asyncio