beautifulsoup4
crawl4ai
FreeSimpleGUI
typing
numpy==1.26.4
openai
groq
requests
Pygments
pyodbc
pandas
fitz
matplotlib
pillow
openpyxl
torch
tensorflow
scipy
scikit-learn
seaborn
soundfile
sounddevice
spacy
loguru
statsmodels
dotenv
python-dotenv
openai
langchain
langgraph
tiktoken
pinecone
requests
tqdm
ipywidgets
google-genai
typing_extensions
pathlib
nltk
lxml
gensim
plotly
google
pinecone
ipython
tenacity
termcolor
jupyterlab
playwright
langchain
langchain-community
langchain-openai
langchain-core
datasets
protobuf
textblob
transformers
sentence-transformers
mglearn
fastapi
PyPDF2
pdfminer
camelot-py
PyMuPDF
mwclient
mwparserfromhell
accelerate
agents
tf-keras