{% extends 'base.html' %}
{% block page_content %}
<div class="text-center mt-4">
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h2 class="army-gold mb-4">Chat Interface</h2>

        <!-- Chat Window -->
        <div id="chat-box" class="chat-box">
		    {% if chat %}
		        {% for msg in chat %}
		
		            {% if msg.sender == "user" %}
		            <div class="chat-message-right">
		                <div class="bubble-right">{{ msg.text }}</div>
		            </div>
		            {% else %}
		            <div class="chat-message-left">
		                <div class="bubble-left">{{ msg.text }}</div>
		            </div>
		            {% endif %}
		
		        {% endfor %}
		    {% else %}
		        <div class="chat-message-left">
		            <div class="bubble-left">Welcome to Boo Chat Interface.</div>
		        </div>
		    {% endif %}
		</div>

        <!-- Chat Input Form -->
        <form method="POST" action="/" class="chat-form">
            <div class="chat-controls">
			    <input type="text"
			           class="chat-input form-control"
			           id="chat-message"
			           placeholder="Type your message...">
			
			    <button type="button" class="btn btn-army" id="send-btn">
			        <i class="fa fa-paper-plane"></i>
			        Send
			    </button>
			
			    <button type="button" class="btn btn-army btn-reset" id="clear-chat-btn">
			        <i class="fa fa-trash"></i>
			        Clear
			    </button>
			</div>
        </form>
    
    </div>
</div>
{% endblock %}
