{% extends 'base.html' %}{% block page_content %}
<div class='text-center mt-4'>
</div>
<div class='row'>
    <div class='col-md-8 col-md-offset-2'>
	    
        <h2 class='army-gold mb-4'>Profile</h2>
	    
	<div class='profile-wrapper'>
    <div class='profile-card'>

        <form method='POST'>
            {{ form.hidden_tag() }}

            <div class='mb-3'>
                {{ form.full_name.label(class="form-label") }}
                {{ form.full_name(class="form-control") }}
            </div>

            <div class='mb-3'>
                {{ form.bio.label(class="form-label") }}
                {{ form.bio(class="form-control") }}
            </div>

            <fieldset class='border p-3 rounded mb-3'>
                <legend class='army-gold small'>Address</legend>

                <div class='mb-3'>
                    {{ form.address.line1.label(class="form-label") }}
                    {{ form.address.line1(class="form-control") }}
                </div>

                <div class='row'>
                    <div class='col-md-6 mb-3'>
                        {{ form.address.city.label(class="form-label") }}
                        {{ form.address.city(class="form-control") }}
                    </div>
                    <div class='col-md-3 mb-3'>
                        {{ form.address.state.label(class="form-label") }}
                        {{ form.address.state(class="form-control") }}
                    </div>
                    <div class='col-md-3 mb-3'>
                        {{ form.address.zip.label(class="form-label") }}
                        {{ form.address.zip(class="form-control") }}
                    </div>
                </div>
            </fieldset>
			<div class='form-actions'>
			    <button type='submit' class='btn btn-army'>
			        <i class='fa fa-save'></i>
			        Save Profile
			    </button>
			
			    <button type='reset' class='btn btn-army btn-reset'>
			        <i class='fa fa-undo'></i>
			        Clear
			    </button>
			</div>


        </form>
    </div>
</div>

</div>
</div>
{% endblock %}