{% extends 'base.html' %}
{% block page_content %}
<div class="profile-wrapper">
    <div class="profile-card">
        <h2 class="army-gold mb-4">Profile</h2>

        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.full_name.label(class="form-label") }}
                {{ form.full_name(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.bio.label(class="form-label") }}
                {{ form.bio(class="form-control") }}
            </div>

            <fieldset class="border p-3 rounded mb-3">
                <legend class="army-gold small">Address</legend>

                <div class="mb-3">
                    {{ form.address.line1.label(class="form-label") }}
                    {{ form.address.line1(class="form-control") }}
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.address.city.label(class="form-label") }}
                        {{ form.address.city(class="form-control") }}
                    </div>
                    <div class="col-md-3 mb-3">
                        {{ form.address.state.label(class="form-label") }}
                        {{ form.address.state(class="form-control") }}
                    </div>
                    <div class="col-md-3 mb-3">
                        {{ form.address.zip.label(class="form-label") }}
                        {{ form.address.zip(class="form-control") }}
                    </div>
                </div>
            </fieldset>

            <button class="btn btn-army w-100">{{ form.submit.label.text }}</button>
        </form>
    </div>
</div>
{% endblock %}
