{% extends 'base.html' %}
{% block page_content %}
<div class="auth-wrapper">
    <div class="auth-card">
        <h2 class="army-gold mb-4">Register</h2>

        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.confirm.label(class="form-label") }}
                {{ form.confirm(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.role.label(class="form-label") }}
                {{ form.role(class="form-select") }}
            </div>
			<div class="form-actions">
			    <button type="submit" class="btn btn-army">
			        <i class="fa fa-user-plus"></i>
			        Create Account
			    </button>
			
			    <button type="reset" class="btn btn-army btn-reset">
			        <i class="fa fa-undo"></i>
			        Clear
			    </button>
			</div>


        </form>
    </div>
</div>
{% endblock %}

