{% extends 'base.html' %}
{% block page_content %}
<div class="text-center mt-4">
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
	    
        <h2 class="army-gold mb-4">Upload</h2>
	    
    <div class="auth-card">
        <h4 class="army-gold mb-4">Select Document</h4>

        <form enctype="multipart/form-data" method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.title.label(class="form-label") }}
                {{ form.title(class="form-control") }}
            </div>

            <div class="mb-4">
                {{ form.doc.label(class="form-label") }}
                {{ form.doc(class="form-control") }}
            </div>
	        <div class="form-actions">
			    <button type="submit" class="btn btn-army">
			        <i class="fa fa-upload"></i>
			        Upload
			    </button>
			
			    <button type="reset" class="btn btn-army btn-reset">
			        <i class="fa fa-undo"></i>
			        Clear
			    </button>
			</div>

        </form>
    </div>
</div>
</div>
{% endblock %}
